:host {
  /*background-color: rgba(98, 73, 10, 0.11);*/
}

nav a {
  margin-right: 20px;
  color: white;
  vertical-align: middle;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 48px;
  cursor: pointer;
}

nav a.router-link-active {
  color: #106cc8;
}


/*scroll == 0 */

.menu-back {
  position: fixed;
  display: block;
  width: 100%;
  /*border: 1px solid red;*/
  height: 70px;
  background-color:  rgba(53, 50, 39, 0.4);
  color: white;
  text-align: center;

  /*text-shadow: #555 1px 1px 0, #555 -1px -1px 0, 
                 #555 -1px 1px 0, #555 1px -1px 0;*/
}


/*menu is scrolled*/

.menu-back_shrink {
  /*outline: 1px solid blue;*/
  height: 70px;
  background-color: rgba(53, 50, 39, 0.57);
}
