<!--window:scroll ??? -->
<nav [ngClass]="{ 'menu-back_shrink': menuBackShrink }" (window:scroll)='handler()' class="animate menu-back">
  <a [routerLink]="['/']" (click)="goTo('home')"> HOME </a>
  <a [routerLink]="['/']" (click)="goTo('about')"> ABOUT </a>
  <a [routerLink]="['/']" (click)="goTo('catalogue')"> КАТАЛОГ </a>

  <a [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">ABOUT</a>
</nav>
