:host {
  display: block;
  padding: 0;
}

input {
  width: 250px;
}

ul {
  padding: 0;
  list-style-type: none;
}



.scroll-left,
.scroll-right {
  float: left;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;

}

.carusel {
  width: 9999px;
}

.carusel .scroll-left:hover {
  cursor: w-resize;
}

.carusel .scroll-right:hover {
  cursor: e-resize;
}






