
<section>
  <ng-content></ng-content>
  <main>
    <ul class="anchor-catalogue" >

      <div class="catalog-unit" [style.height]="heightWindow">
        <div class="carusel" (click)='scrolling($event, carusel1)' [style.height]="heightWindow" #carusel1>
          <div class="scroll-left" [style.width]="widthWindow05" [style.backgroundImage] = "'url(/assets/img/1.jpg)'"></div>
          <div class="scroll-right" [style.width]="widthWindow05" [style.backgroundImage] = "'url(/assets/img/2.jpg)'"></div>
          <div class="scroll-left" [style.width]="widthWindow05" [style.backgroundImage] = "'url(/assets/img/3.jpg)'"></div>
          <div class="scroll-right" [style.width]="widthWindow05" [style.backgroundImage] = "'url(/assets/img/5.jpg)'"></div>
        </div>
      </div>
<!--

      <li class="catalogue-unite" id="catalogue-unite-2">
        foto 1
        <div>
          <div *ngIf="scroll-right" class="scroll-right"></div>
          <div *ngIf="scroll-left" class="scroll-left"></div>
          <img src="/assets/img/2.jpg" alt="foto" [style.height]="heightWindow">
          <img src="/assets/img/6.jpg" alt="foto" [style.height]="heightWindow">
        </div>
        foto end
      </li>

      <li class="catalogue-unite" id="catalogue-unite-1">
        foto 1
        <div>
          <div *ngIf="scroll-right" class="scroll-right"></div>
          <div *ngIf="scroll-left" class="scroll-left"></div>
          <img src="/assets/img/1.jpg" alt="foto" [style.height]="heightWindow">
          <img src="/assets/img/3.jpg" alt="foto" [style.height]="heightWindow">
          <img src="/assets/img/4.jpg" alt="foto" [style.height]="heightWindow">
          <img src="/assets/img/5.jpg" alt="foto" [style.height]="heightWindow">

        </div>
        foto end
        <a href="#catalogue">Catalogue</a>
      </li>-->

    </ul>
  </main>
<section>