<!--<p>Here's a list of awesome computer scientists. Do you know any others? Add to the list yourself.</p>-->

<!--<form (submit)="addName()">
  <input [(ngModel)]="newName" name="newName" placeholder="Awesome Computer Scientist">
  <button type="submit">Add</button>
</form>

<ul>
  <li *ngFor="let name of names">{{name}}</li>
</ul>-->


<section id="home">

    <sd-slider></sd-slider>
    <sd-menu></sd-menu>

</section>

<sd-home-about id="about"></sd-home-about>
<sd-catalogue id="catalogue"></sd-catalogue>



<!--<sd-catalogue>Cодержимое компонента HOME а CATALOGUE</sd-catalogue>-->
