
:host {
  display: block;
  padding: 0;
}

input {
  width: 250px;
}

ul {
  padding: 0;
  list-style-type: none;
}

/*header {
  text-align: center;
}*/


#home {
  /*margin-bottom: -15px;*/
  border: 1px solid gray;
  background: url('/assets/img/fon.jpg') no-repeat;
  background-size: cover;
}

/*.wrapper:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}*/

.slider {
  height: 150px;
}




/*.nav .img {
  position: absolute;
  top: -30px;
  left: 0;
  opacity: 0;

}*/

/*.nav a {
   text-decoration: none;
   color: gray;
}*/
