
<nav class="nav">
    <div class="active-router"></div>
    <div class="menu">
        <a #link
            *ngFor="let item of data; let i=index"           
            [class.active]="link===active"
            (click)='changeContent(link, i)'
            href="#">

            <img src=" {{ item.img }} " alt="crown" width="100%" height="70%">
            {{ item.name }}
        </a>

    </div>
</nav>


<main>
    <section> 
        <h2> {{ data[i].text }} </h2>
        <a  href="{{ data[i].href }}" class="section__button"> {{ data[i].button }} </a>
    </section>    
</main>