/*:host {
  display: block;
  padding: 0 16px;
}*/
.nav {
  width: 100%;
  border: 1px solid lightsteelblue;
  background: linear-gradient(to top, #4766a6 0%, #8db7ff 36%, #55678d 100%);
  background-color: #534430;

  /*text-align: left;*/
  /*display: inline-block;*/
  /*vertical-align: middle;*/
  /*position: fixed;*/
  /*opacity: 1;*/
  /*top: 40%;*/
  /*left: 50%;*/
}

.menu {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1000px;
  height: 100%;
  text-align: justify;
  
}


.menu a {
  display: inline-block;
  padding: 8px;
  width: calc(10% + 20px);
  height: 100%;
  border: 1px solid saddlebrown;
  color: white;
  vertical-align: bottom;
  text-align: center;
  /*margin: 0 auto;*/
  text-decoration: none;

}

.menu a.active{
  border: 5px solid saddlebrown;
}

.img {
  display: inline-block;
  padding: 10px;
  /*width: 50px;
  height: 50px;*/
  background-color: oldlace;
  
}

section {
  text-align: center;

}

.section__button {
  display: inline-block;
  margin: 30px;
  padding: 20px;
  width: 250px;
  border: 2px solid saddlebrown; 
  color: darkblue;
  text-decoration: none;

}