/*:host {
  display: block;
  position: fixed;
  width: 100%;
  text-align: center;
  padding: 0 16px;
  height: 48px;
  border-width: 0 0 1px;
  border-style: solid;
  border-color: #e1e1e1;
  background-color: rgba(98, 73, 10, 0.11);
}

nav a {
  margin-right: 20px;
  color: white;
  vertical-align: middle;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 48px;
  cursor: pointer;
}*/

header {
  position: absolute;
  top: 0;
  /*background-color: #fff77f;*/
  /*border: 1px solid lightgray;*/
  z-index: 30;
  width: 100%;
  height: 55px;
}