
/*CSS Variables*/
:root {

}

/*//////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////*/
/*///////////////////      example           ///////*/


:root {
  --b: 1px solid red;

  --main-color: #76FF03;
  --accent-color: #00B0FF;
  --accent-color-2: #000;
  --accent-color-3: #fff;
  --primary-shadow: 5px 7px #d3d3d3;
  --secondary-shadow: 7px 7px #eee;
  --primary-font: Georgia;
  --secondary-font: sans-serif;
  --card-height: 43%;
  --card-width: 40%;
  --min-card-width: 100px;
  --card-margin: 10px 0;
  --card-margin-2: 20px 5px;
  --general-padding: 10px;
  --transition: .6s ease-in-out;
  --transition-2: .3s ease-out;
}


/*FLEX STUFF*/
.flex-parent {
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/*CONTENT BOXES*/
.flex-child {
  height: var(--card-height);
  width: var(--card-width);
  min-width: var(--min-card-width);
  margin: var(--card-margin);
  padding: var(--general-padding);
  background-color: var(--main-color);
  font-family: var(--primary-font);
  color: var(--accent-color-2);
  box-shadow: var(--primary-shadow);
}

.flex-child-2 {
  height: calc(var(--card-height) - 100px);
  width: calc(var(--card-width) - 60px);
  min-width: var(--min-card-width);
  margin: var(--card-margin-2);
  padding: var(--general-padding);
  background-color: var(--accent-color);
  font-family: var(--secondary-font);
  color: var(--accent-color-3);
  box-shadow: var(--secondary-shadow);
}

/*BUTTONS*/
.btn {
  padding: var(--general-padding);
  background-color: var(--accent-color-2);
  color: var(--accent-color-3);
  border: none;
  transition: var(--transition);
  cursor: pointer;
}

.btn:hover {
  opacity: .7
}

.btn-2 {
  padding: var(--general-padding);
  background-color: var(--accent-color-3);
  color: var(--accent-color);
  border: none;
  transition: var(--transition-2);
  cursor: pointer;
}

.btn-2:hover {
  opacity: .5
}

/*MEDIA RULES FOR FONT SIZE AND BUTTON VISIBILITY*/
@media screen and (max-width: 680px) {
  
  .flex-child-2 h1 {
    font-size: 1em;
  }
  
  .flex-child-2 p {
    font-size: .8em;
  }
}

@media screen and (max-height: 680px) {
  
  .flex-child-2 h1 {
    font-size: 1em;
  }
  
  .flex-child-2 p {
    font-size: .8em;
  }
  button {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  
  .flex-child h1 {
    font-size: 1.25em;
  }
  
  .flex-child p {
    font-size: 1em;
  }
  
  .flex-child-2 h1 {
    font-size: .90em;
  }
  
  .flex-child-2 p {
    font-size: .75em;
  }
  
  .btn {
    display: none;
  }

  .btn-2 {
    display: none;
  }
}
  
@media screen and (max-width: 320px) {
  
  .flex-child h1 {
    font-size: 1em;
  }
  
  .flex-child p {
    font-size: .8em;
  }
  
  .flex-child-2 h1 {
    font-size: .85em;
  }
  
  .flex-child-2 p {
    font-size: .65em;
  }
}




/*/////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////*/




/* Reset */
html,
body,
div {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Box-sizing border-box */
* {
  box-sizing: border-box;
}

/* Set up a default font and some padding to provide breathing room */
body {
  overflow-x: hidden;
  font-size: 16px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
  letter-spacing: 0.01em;
  font-weight: 400;
  line-height: 20px;
}

ul {
  margin: 10px 0 0;
  padding: 0 0 0 20px;
}

li {
  margin-top: 4px;
  font-weight: 400;
}

input {
  padding: 8px;
  height: 40px;
  outline: none;
  border: 1px solid #106cc8;
  font-size: 14px;
}

button {
  display: inline-block;
  padding: 8px 18px;
  height: 40px;
  border-style: none;
  background-color: #106cc8;
  color: rgba(255, 255, 255, 0.87);
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
}

button:hover {
  background-color: #28739e;
}

.animate {
  transition-timing-function: ease;
  /*margin-top: 0;*/
  /*transition-property: margin-left;*/
  transition-duration: 1000ms;
}

/*body {
  background: url('/assets/img/fon.jpg') no-repeat;
  background-size: cover;
}*/

/*.bgvideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -9999;
}*/