
<div #first class="first" >
    <img src="/assets/img/first.jpg" alt="e"  width=100%>
</div>


<div [ngClass]="{'layer':true, 'animate': true, 'layer-active': isActive }"></div>


<div class=""   *ngFor="let item of content; let i=index">

    <div #dot class="{{ 'dot'+ (i + 1) }} dot animate"
        [ngClass]="{'dot-bottom': isActive, 'dot-active': dotActive===dot }"
        (click)="downDot(true, slide, dot)">
    </div>

    <div #slide
        class="wrapper"
        (click)="downDot(false)">
        <div class="text">
            <div class="circle"></div>
            <div class="second__text"> {{ item.text }} </div>
        </div>

        <div class="img">
            <img src="{{ item.img }}" alt="" width=100%>
        </div>
    </div>
    
</div>
