:host {
  position: relative;
  display: block;

  /*height: 800px;*/
  /*background: url(/assets/img/e.jpg) no-repeat;*/
  /*background-size: cover;*/
}



.first {
  /*display: none;*/
  /*position: absolute;
  top:0;
  left: 0;*/
  /*width: 34%;*/
}

.slides {
  
}


.dot1 {
  top: 67%;
  left: 9%;
}

.dot2 {
  top: 43%;
  left: 19%;
}


.dot3 {
  top: 48%;
  left: 29%;
}

.dot4 {
  top: 25%;
  left: 39%;
}

.dot5 {
  top: 35%;
  left: 49%;
}

.dot6 {
  top: 39%;
  left: 59%;
}

.dot {
  position: absolute;
  z-index: 500;
  width: 23px;
  height: 23px;  
  border: 4px solid white;
  border-radius: 25px;
}

.dot-active {
  background-color: dodgerblue;
}

.animate {
  transition-duration: 0.7s;

  /*transition-property: top;*/
}

.dot-bottom {
  top: 90%;
}

.second {
  /*display: none;*/
  position: absolute;
  top:0;
  left: 0;
}


.slider-animate {
  /*transition-duration: 1s;*/
  /*transition-property: opacity;*/
  /*animation-direction: alternate-reverse;*/
  -webkit-animation: move 0.7s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

   @-webkit-keyframes move {
    from { top: -1000px; }
    to { top: 0; }
   }
   @keyframes move {
    from { top: -1000px; }
    to { top: 0; }
   }

.slider-animate-rev {
  /*transition-duration: 1s;*/
  /*transition-property: opacity;*/
  /*animation-direction: alternate-reverse;*/
  -webkit-animation: move-rev 0.7s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

   @-webkit-keyframes move-rev {
    from { top: 0; }
    to { top: -1000px; }
   }
   @keyframes move-rev {
    from { top:0; }
    to { top: -1000px; }
   }

.layer {
  position: absolute;
  top:0;
  left: 0;
  width: 100%; 
  height: 100%;
  background: rgba(74, 71, 70, 0.5);
  opacity: 0;
}

.layer-active {
  opacity: 1;
}

.wrapper {
  position: absolute;
  top: -1000px;
  /*background: rgba(74, 71, 70, 0.3);*/
  z-index: 26;
  width: 100%;
  /*height: calc(100% - 70px);*/
  height: 100%
}

/*.wrapper-hide {
  top: -1000px;
}*/

.img {
  position: absolute;
  top: 10%;
  left: 4%;
  width: 34%;
  border: none;
  border-radius: 300px;
}

.text {
    position: absolute;
    top: 20%;
    left: 10%;
    width: 85%;
    height: 60%;
    border: 2px solid #6f8cc2;
    border-radius: 999px;
    background: rgb(255, 255, 255);
    background: url(/assets/img/text.jpg) no-repeat;  
    background-size: cover;
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    color: black;
    vertical-align: middle;
    text-align: center;
    font-size: 20pt;
  
}

.circle {
  float: left;
  width: 25%;
  height: 80%;
  border: 1px solid deepskyblue;
  border-radius: 999px;

}

.second__text {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
}

.text:before {
  display: inline-block;
  height: 100%;
  content: '';
  vertical-align: middle;
}


